# Common self-explanatory stuff to ignore.
.idea
node_modules
# Ignore all credential file except examples.
credentials/*
!credentials/example
# Firebase data
/firebase-debug.log
/.firebaserc
/firebase/db/rules.json
.DS_Store